@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Turret+Road:wght@700&family=Ubuntu&display=swap');

body {
    margin: 0 20%;
}

h1 {
    font-family: 'Turret Road', cursive;
    font-size: 2em !important;
}

h2, h3 {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Component styles */

.skills, .socials {
    font-size: 3em !important;
}

.icon {
    padding: 20px;
}

.nav-item {
    padding: 0px 20px;
    font-weight: bold;
}

.personal-photo {
    width: 80%;
}

.section {
    padding: 30px 0px;
}

.center {
    text-align: center;
}

.selected {
    background-color: black !important;
    color: white;
}
