body {
    margin: 0 20%;
}

/* Layout styles */
.block {
    display: block;
    float: left;
}

.row {
    width: 100%;
    clear: both;
}

.w-1-1 {
   width: 100%;
}

.w-1-2 {
    width: 50%;
}

.w-1-3 {
    width: 33%;
}

.w-2-3 {
    width: 67%;
}

/* Component styles */

.list {
    list-style: none;
}